
.collapse .navbar-collapse{
  background-color: red !important;

}
.navbar-nav{
  font-weight: bold !important;
  font-family: myFirstFont6;

}

.image a{
  width: 130px;
  height:45px;
  text-align: left;
}
/*FOR FOOTER CONTENT*/
.test{
  font-family: myFirstFont6;
  font-size: 15px;
  text-align: left;
  color:  #A9A9A9

}
.bg-img {
  background: url("../images/background.jpg" );
  background-size: auto;
}
.firstSection{
  text-align: center;
}

.firstSection img{
  display: inline-flex;
  padding-top: 0px;
  /*for image border*/
  border:3px solid grey;
  margin-top: 10px;
}

.secSection img{
    margin: 0 auto;
    display: block;
    height: 298px;
    min-height: 140px;
    margin-left: 100px;
    padding-bottom: 51px;

}
.secondSection{
  font-size: 16px;
  font-weight: bold;


}
/*.footer .fa {
    padding: 6px;
    font-size: 16px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}*/


/*.tcenter .fa{

    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}*/
.hworks{
    font-family: myFirstFont6;
    text-align: center;
    margin-bottom: 80px;
    font-weight: bold;

}
.firsthead{
 font-family: myFirstFont6;
  font-weight: 600;
  color: #ffffff;
}

.secondhead{
  font-family: myFirstFont6;
  font-weight: 1000px;
  color: #ffffff;
}
.btn.btn-primary.viewgallery{
  font-family: myFirstFont6;
  background-color: #fff !important;
  border-radius: 0px;
  color: #000;
  border-color: #fff;
  font-weight: bold;
}
.joinnow{
  font-family: myFirstFont6;
  background-color: orange !important;
  border-radius: 0px;
  border-color: orange;
  font-weight: bold;

}
.round.roundedd {
    height: 100px;
    width: 100px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 50px;
    font-size: 1.5em;
    padding:35px;
}

.round{

    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #E5E7E9 ;
    color: black;
    text-align: center;
  }
  .tcenter{
   text-align: center;
  }
  .fbg{
    font-family: myFirstFont6;
    background-color:#DCDCDC;

  }
  .footer  ul li{
    font-family: myFirstFont6;
    margin: 15px;
    color: orange;
    font-size: 16px;
    font-weight: bold;
  }

  .footer ul{
    list-style-type: none;
    display: flex;
   padding: 0;
  }
  .ffont{
    font-family: myFirstFont4;

  }

/*FOR MOBILE VIEW RESPONSIVE*/
@media(max-width: 480px){

  .hworks{
    font-family: myFirstFont6
    font-size: 22px;
    margin-bottom: 10PX;
  }
  .btn.btn-primary.viewgallery{
    font-family: myFirstFont6
    font-size: 12px;
}
.joinnow{
  font-family: myFirstFont6
  font-size: 12px;
}
  .fbg p{
    padding-top: 20px;
  }
  .footer ul li {
    margin: 1px;
    color: orange;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}
  .firsthead{
    font-family: myFirstFont6
    font-size: 30px;}
  .secondhead{
    font-size: 20px;
  }
  .secSection img {
    margin: 0;

}
.firstSection img {

    display: inline-flex;
    padding-top: 0px;
    border: 1px solid grey;
    margin-top: 20px;
    max-width: 83px;display: inline-flex;
    padding-top: 0px;
    border: 1px solid grey;
    margin-top: 20px;

}
.firstSection {

    text-align: left;

}
}

@font-face {
  font-family: myFirstFont;
  src: url(/home/satish/Downloads/HTML_CSS Assignment/HTML:CSS Assignment/font/SourceSansPro-Black.otf);
}


@font-face {
  font-family: myFirstFont2;
  src: url(/home/satish/Downloads/HTML_CSS Assignment/HTML:CSS Assignment/font/SourceSansPro-Bold.otf);
}



@font-face {
  font-family: myFirstFont3;
  src: url(/home/satish/Downloads/HTML_CSS Assignment/HTML:CSS Assignment/font/SourceSansPro-Regular.otf);
}


@font-face {
  font-family: myFirstFont4;
  src: url(/home/satish/Downloads/HTML_CSS Assignment/HTML:CSS Assignment/font/SourceSansPro-ExtraLight.otf);
}

@font-face {
  font-family: myFirstFont5;
  src: url(/home/satish/Downloads/HTML_CSS Assignment/HTML:CSS Assignment/font/SourceSansPro-Black.otf);
}

@font-face {
  font-family: myFirstFont6;
  src: url(/home/satish/Desktop/Assignment3_html/Html-Assignment/font/SourceSansPro-Semibold.otf);
}









